/**
 * The "Clients" display with current players and voting results
 */

  // BACK = FACE DOWN (HIDING VOTE)
  // FRONT = FACE UP (SHOWING VOTE)

.client {
  @include perspective(300px);
  position: relative;
   // base height for mobile, will be responsively overriden
  height: 3.5em;

  .front,
  .back {
    overflow: hidden;
    border: 4px solid darken($bright, 5%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include border-radius(10px);
    @include box-shadow($dark 0px 0px 10px);
    @include backface-visibility(hidden);
    @include perspective(0px);
    @include transform-style(preserve-3d);
    @include transition(transform .5s ease-in-out);
  }

  .back { // FACE DOWN (COVERING VOTE)
    z-index: 50;
    background:
      url('../assets/card_back_bg_greenplaid_small.png') center center repeat,
      $bright;

    .nickname {
      @include text-shadow($dark 1px 1px 0);
    }
  }

  .front { // FACE UP (SHOWING VOTE)
    z-index: 0;
    color: $dark;
    background: $bright;

    @include text-shadow(none);
  }

  &.voted {
    .back .nickname { color: $orange; }
    .front .nickname { color: $red; }
  }

  // No Transforms? Use display none/block
  .back { display: block; }
  .front { display: none; }

  #votingResult.reveal &.voted {
    .back { display: none; }
    .front { display: block; }
  }

  // With the Transform, backsides will be hidden by transform
  .csstransforms & .back {
    display: block;
    @include transform(rotateY(0deg));
  }
  .csstransforms & .front {
    display: block;
    @include transform(rotateY(-180deg));
  }
  .csstransforms #votingResult.reveal &.voted {
    .back {
      display: block;
      @include transform(rotateY(180deg));
    }
    .front {
      display: block;
      @include transform(rotateY(0deg));
    }
  }
}

.nickname {
  text-transform: uppercase;
}

.vote-wrap {
  text-align: center;

  .vote {
    color: $red;
    @include stint;
    @include text-shadow($dark 1px 1px 0px);
  }
}

/* The "non-card" display, for narrow devices. Looks like a
 * vertically stacked scoreboard. */
@include breakpoint($bp-handheld-only) {
  .client {
    width: auto;
    display: block;
    float: none;

    margin: 0.5em auto;

    .front, .back {
      padding: 0.25em;
    }

    // Use Vertical flip for The wider cards
    .csstransforms & .back {
      @include transform(rotateX(0deg));
    }
    .csstransforms & .front {
      @include transform(rotateX(180deg));
    }
    .csstransforms #votingResult.reveal &.voted {
      .back {
        @include transform(rotateX(-180deg));
      }
      .front {
        @include transform(rotateX(0deg));
      }
    }
  }

  .nickname, .vote-wrap { display: block; }

  .nickname {
    float: left;
    width: 70%;
    text-align: left;

    line-height: 1.5em;
    font-size: 1.125em;
    letter-spacing: 2px;

    padding: 0.375em 0 0.375em 0.25em;
  }

  .vote-wrap {
    float: right;
    width: 25%;
    text-align: right;
    line-height: 1.5em;

    padding: 0.375em 0.25em 0.375em 0;

    .vote {
      font-size: 1.75em;
    }
  }
}

// /* Set up the flexbox or flexbox-approximate for larger screens */
// @include breakpoint($bp-narrow) {
//   html.no-flexbox & {
//     text-align: center;
// 
//     .client {
//       display: inline-block;
//       float: none;
//       text-align: left;
//     }
//   }
// 
//   html.flexbox & {
//     @include scrummyFlexbox;
//   }
// }

/* Build the card display styles and spacing */
@include breakpoint($bp-narrow) {
  .client {
    height: 8em;
    width: 6em;
    margin: 0.5em;

    .front, .back {
      padding: 0.25em;
    }

    html.multiplebgs & .back {
      background:
        url('../assets/spiral-card-white-shadow.png') center center no-repeat,
        url('../assets/card_back_bg_greenplaid_small.png') center center repeat,
        $bright;
    }

    html.multiplebgs.svg & .back {
      background:
        url('../assets/spiral-card-white-shadow.svg') center center no-repeat,
        url('../assets/card_back_bg_greenplaid_small.png') center center repeat,
        $bright;
    }
  }

  .nickname {
    font-size: 0.875em;
    letter-spacing: 1px;

    .front, .back {
      padding: 0.25em 0.125em;
    }
  }

  .vote-wrap {
    min-height: 5.5em;

    .vote {
      padding: 0.375em 0;
      font-size: 2.75em;
    }
  }
}

@include breakpoint($bp-medium) {
  .client {
    height: 10em;
    width: 7em;
    margin: 0.5em;

    .front, .back {
      padding: 0.5em;
    }
  }

  .nickname {
    font-size: 1em;
    letter-spacing: 2px;

    padding: 0.25em 0.125em;
    margin-bottom: 0.125em;
  }

  .vote-wrap {
    min-height: 7.5em;

    .vote {
      padding: 0.375em 0;
      font-size: 3em;
    }
  }
}

@include breakpoint($bp-wide) {
  .client {
    height: 12em;
    width: 8em;
    margin: 0.5em;

    .front, .back {
      padding: 0.5em;
    }
  }

  .nickname {
    font-size: 1.125em;
    letter-spacing: 3px;

    padding: 0.25em 0.125em;
    margin-bottom: 0.25em;
  }

  .vote-wrap {
    min-height: 8.5em;

    .vote {
      padding: 0.25em 0;
      font-size: 4em;
    }
  }
}
