// @TODO: STUFF THAT SHOULD BE "GLOBAL" WHEN POSSIBLE:

@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~singularitygs/stylesheets/singularitygs";
@import "~sass-toolkit/stylesheets/toolkit/kickstart";

// Also how to put this in HTML?
@import url('http://fonts.googleapis.com/css?family=Fjalla+One|Stint+Ultra+Expanded|Open+Sans:400italic,400,700');

// Colors:
// Neutrals
$bright: #f2f2f2;
$light:  #E3DFE3;
$low:    #312928;
$dark:   #1F1A19;

// Accents
$orange: #FC5426;
$blue:   #0E536E;
$green:  #2B8045;
$red:    #D71414;

// Typefaces:
@mixin fjalla { font-family: 'Fjalla One', sans-serif;        font-weight: 400; }
@mixin stint  { font-family: 'Stint Ultra Expanded', cursive; font-weight: 400; }
@mixin osans  { font-family: 'Open Sans', sans-serif;         font-weight: 400; }

// Setup Breakpoints
$bp-handheld-only: max-width    679px;
$bp-narrow:        min-width    680px;
$bp-medium:        min-width    980px;
$bp-wide:          min-width   1080px;
$bp-portrait:      orientation portrait;

// @TODO /global

.card {
  position: relative;

  float: left;

  padding: 0.25em 0.5em;

  border: 1px solid darken($light, 5%);
  border-radius: 8px;

  background: $bright;
  box-shadow: 0px 0px 10px $low;

  transition: all 0.25s ease-out;

  .card-text {
    font-size: 1em;
    color: $dark;
    @include stint;
  }

  &:hover, &.selected {
    .card-text { color: $red; }
  }

  @include breakpoint($bp-handheld-only) {
    float: none;
    display: inline-block;

    padding: 0.5em 0.75em;
    margin: 0.5em;

    &.selected {
      background: $orange;
      border-color: darken($orange, 20%);
      .card-text { color: $bright; }
    }
  }

  @include breakpoint($bp-narrow) {
    margin: 1em -1.25em 0 0;

    min-height: 7em;
    min-width: 4.5em;

    background: {
      // image: url('../gfx/card_art_science.svg');
      repeat: no-repeat;
      position: center 110%;
      size: 90% 90%;
    };

    &:hover { margin-top: 0.5em; }

    &.selected {
      // To override the hover
      margin-top: 0em !important;
    }

    /* @TODO html.cssreflections.csstransforms */ &.selected {
      transition: all 0.55s ease-out;
      transform: rotate(-5deg) scale(1.1);
    }

    .card-text { font-size: 1.5em; }
  }


  @include breakpoint($bp-medium) {
    margin: 1.5em -1.75em 0 0;

    min-height: 8em;
    min-width: 6em;

    background-position: center 120%;
    background-size: 95% 95%;

    &:hover { margin-top: 1em; }

    .card-text { font-size: 1.75em; }
  }


  @include breakpoint($bp-wide) {
    margin: 1.75em -1.5em 0 0;

    .card-text { font-size: 1.875em; }
  }
}
