/* ==========================================================================
   Helper classes and Preferred Defaults
   ========================================================================== */

/* apply a natural box layout model to all elements */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@mixin clearfix {
  // Duplicate the clearfix extendable class as a mixin so we can
  // use that when that's easier, like inside a media query:
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  *zoom: 1;
}

.listreset {
  &, ul, ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@mixin responsive {
  max-width: 100%;
  height: auto;
  width: auto;
  -ms-interpolation-mode: bicubic;
}

@mixin scrummyFlexbox {
  /* This is a simple vertical-match horizontal-center row-wrapping
   * usage of the "new" CSS Flexbox model for both the current clients
   * and the player's hand. */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-align-items: center;
  -moz-align-items:    center;
  -ms-align-items:     center;
  align-items:         center;

  -webkit-justify-content: center;
  -moz-justify-content:    center;
  -ms-flex-pack:           justify;
  -ms-justify-content:     center;
  justify-content          :center;

  -webkit-flex-flow:  row wrap;
  -moz-flex-flow:     row wrap;
  -ms-flex-direction: row;
  -ms-flex-wrap:      wrap;
  flex-flow:          row wrap;

  .card, .client {
    display: block;

    -webkit-flex: none;
    -moz-flex:    none;
    -ms-flex:     none;
    flex:         none;

    float: none;

    &:last-child { margin-right: 0; }
  }
}

/**
 * Shared Login and Voting Form Styles
 */
@mixin submitAction {
  width: auto;
  max-width: 500px;

  text-align: center;

  padding: 0 4px;
  margin: 0.25em auto;

  border: 1px solid lighten($low, 8%);
  @include border-radius(10px);

  background: darken($low, 8%);
  @include box-shadow($dark 0px 0px 5px inset);

  input {
    margin: 6px 0;
  }

  input[type="button"], input[type="submit"] {
    color: $light;
    @include text-shadow( darken($blue, 25%) 1px 1px 0 );

    background: $blue;
    @include background-image( linear-gradient($blue, darken($blue, 10%)) );

    border: 1px solid darken($blue, 10%);

    &:hover, &.active {
      @include text-shadow( darken($orange, 50%) 1px 1px 0 );

      background: $orange;
      @include background-image( linear-gradient( darken($orange, 10%), darken($orange, 30%)) );

      border: 1px solid darken($orange, 40%);
    }
  }
}
