@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~singularitygs/stylesheets/singularitygs";
@import "~sass-toolkit/stylesheets/toolkit/kickstart";

$var: blue;

main {
  display: flex;
  @include breakpoint(500px) {
    color: red;
  }
}
